@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-image: url('./assets/starwars-background-web.jpg');
   background-size: cover; /* Esto asegura que la imagen cubra todo el fondo */
   background-repeat: repeat; /* Esto evita que la imagen se repita */
   background-position: center center; /* Esto centra la imagen */
   margin: 0;
   padding: 0;
   color: white; /* Opcional: para que el texto sea visible sobre la imagen de fondo */
 }
 
 